
body
{
    margin: 0;
    background-color: #e3e3e3;
}

header h1
{
    text-align: center;
    font-size: 15vh;
}

.divider
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    width: 95%;
}

.divider::before,
.divider::after
{
    content: "";
    flex: 1;
    height: 15px;
    background-color: black;
}

.divider::before
{
    margin-right: 30px;
}

.divider::after
{
    margin-left: 30px;
}

header img
{
    display: block;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
