
:root
{
    --divider-thickness: 15px;
    --divider-color: #2C3E50;
    --bg-color: #F9F9F9;
    --text-color: #2C3E50;
    --content-width: 95%;
}

body
{
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header h1
{
    text-align: center;
    font-size: clamp(3rem, 20vw, 8rem);
    margin-top: 2rem;
}

header h2
{
    margin-left: 10px;
}

.divider,
.header_divider::before,
.header_divider::after
{
    height: var(--divider-thickness);
    background-color: var(--divider-color);
    border-radius: 100%;
}

.header_divider
{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto 50px;
    width: var(--content-width);
}

.header_divider::before,
.header_divider::after
{
    content: "";
    flex: 1;
}

.divider
{
    border: none;
    width: var(--content-width);
    margin: 60px auto;
}

header hr
{
    border: none;
    height: 3px;
    background-color: var(--divider-color);
}

header img
{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.about-me
{
    max-width: 78ch;
    margin: 0 auto;
    font-size: 2rem;
    text-align: justify;
}

footer
{
    text-align: center;
    padding-bottom: 100px;
}

footer h2
{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: clamp(2rem, 8vw, 5rem);
}
